<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagicDuelsDeckCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <MagicDuelsDeckCheck.Properties.Settings>
            <setting name="MagicDuelsSteamProfile" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\userdata\111111111\316010\remote\111111111.profile</value>
            </setting>
        </MagicDuelsDeckCheck.Properties.Settings>
    </userSettings>
</configuration>